<main>
  <section class="header-section">
    <header class="header">
      <div class="header-content">
        <div class="button-side-bar">
          <!-- <app-sidebar></app-sidebar> -->
          <button (click)="toggleSidebar()">
            <span nz-icon nzType="menu-unfold" nzTheme="outline"></span>
          </button>
        </div>
        <div class="title">
          <h1>{{ title }}</h1>
        </div>
        <div class="icons">
          <span nz-icon nzType="bell" nzTheme="outline"></span>
          <span nz-icon nzType="bell" nzTheme="fill"></span>
        </div>
      </div>
    </header>
  </section>
  <nav class="sidebar" [class.open]="isOpen">
    <div class="sidebar-content">
      <div class="title-sidebar">
        <div>
          <h1>Menu</h1>
        </div>
        <div class="close-menu">
          <button (click)="toggleSidebar()">
            <span nz-icon nzType="menu-fold" nzTheme="outline"></span>
          </button>
        </div>
      </div>
      <div class="divider">
        <div></div>
      </div>
      <ul>
        <li>
          <span
            class="icon menu"
            nz-icon
            nzType="table"
            nzTheme="outline"
          ></span
          ><a href="#">Mesas</a>
        </li>
        <li>
          <span
            class="icon menu"
            nz-icon
            nzType="control"
            nzTheme="outline"
          ></span>
          <a href="#">Ajustes</a>
        </li>
        <li>
          <span
            class="icon menu"
            nz-icon
            nzType="read"
            nzTheme="outline"
          ></span>
          <a href="#">Histórico</a>
        </li>
        <li>
          <span
            class="icon menu"
            nz-icon
            nzType="rocket"
            nzTheme="outline"
          ></span>
          <a href="#">Delivery</a>
        </li>
        <li>
          <span
            class="icon menu"
            nz-icon
            nzType="setting"
            nzTheme="outline"
          ></span>
          <a href="#">Configurações</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="main-section">
    <ng-content></ng-content>
  </section>
  <section class="footer-section">
    <footer class="footer">
      <nav class="footer-nav">
        <a href="#" class="nav-item active">
          <span
            class="icon menu"
            nz-icon
            nzType="table"
            nzTheme="outline"
          ></span>
          Início
        </a>
        <a href="#" class="nav-item">
          <span
            class="icon menu"
            nz-icon
            nzType="read"
            nzTheme="outline"
          ></span>
          Histórico
        </a>
        <a href="#" class="nav-item">
          <span
            class="icon menu"
            nz-icon
            nzType="rocket"
            nzTheme="outline"
          ></span>
          Delivery
        </a>
        <a href="#" class="nav-item">
          <span
            class="icon menu"
            nz-icon
            nzType="control"
            nzTheme="outline"
          ></span>
          Ajustes
        </a>
      </nav>
    </footer>
  </section>
</main>
